@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

a {
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: #333333;
}

input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-weight: 600;
}

html,
body {
    height: 100%
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: #515656;
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}


/**
*Box-style
**/

.box {
    padding: 50px 30px;
    text-align: center;
    -webkit-box-shadow: 0 0 0 0 #ffffff;
    box-shadow: 0 0 0 0 #ffffff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.box:hover {
    -webkit-box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}

.box h4 {
    text-transform: uppercase;
}

.box .box-icon {
    height: 160px;
    margin-bottom: 20px;
}

.box .box-icon img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.box:hover .box-icon img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}


/*social*/

.single-team .social-menu {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    bottom: -80px;
    left: 0;
    width: 100%;
    padding: 23px 10px;
    background-color: #ffffff;
}

.single-team:hover .social-menu {
    bottom: 0;
}



.social-menu {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.social-menu li {
    display: inline-block;
    margin: 0 3px;
}

.social-menu li a {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 2.5em;
    background-color: #ffffff;
    color: #2F5EBA;;
    border-radius: 100px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

.social-menu li a:hover {
    background-color: #2f5ebacc;
    color: #ffffff;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
}

/*-----------
preloader
------------*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #75cbe7;
    background: -webkit-gradient(linear, left top, left bottom, from(#75cbe7), to(#339F75));
    background: linear-gradient(to bottom, #1246a5 0%, #4300d0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75cbe7', endColorstr='#339F75', GradientType=0);
    z-index: 99999999999;
}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

/**
*Mainmenu-area
**/

.mainmenu-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999999;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.overlay,
.overlay a,
.mainmenu-area a {
    color: #ffffff;
}



.price-area {
    background: url('images/header.jpg') no-repeat scroll center center / cover
}

.carrinho {
    background: url('images/carrinho.jpg') no-repeat scroll center center / cover
}

.mainmenu-area .logo {
    text-transform: uppercase;
    /*letter-spacing: 0px;*/
    height: inherit;
    margin-top: 8px;
    padding-left: 0;
}

.mainmenu-area .logo h2 {
    /*margin-bottom: 0;*/
}

.mainmenu-area #primary-menu > ul > li > a {
    background: none;
    padding: 30px 15px;
    position: relative;
    border-top: 3px solid transparent;
    text-align: center;
}


.mainmenu-area #primary-menu > ul > li > a:before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -10px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #ffffff;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.mainmenu-area #primary-menu > ul > li > a:hover:before,
.mainmenu-area #primary-menu > ul > li.active > a:before {
    opacity: 1;
    top: 0;
}

.mainmenu-area #primary-menu ul li.active a,
.mainmenu-area #primary-menu ul li a:hover {
    border-top: 3px solid #ffffff;
}

.mainmenu-area.affix {
    background-color: #242b31e6;
}

.section-padding {
    padding: 60px 0;
}

.gray-bg {
    background-color: #fff;
}


.header-color{

    background: linear-gradient(to bottom, #534b71 0%, #534b71 100%);
    /*padding-bottom: 200px;*/

}

.footer-color{

    background-color: #393f45;
    /*background: linear-gradient(to bottom, #009056 0%, #086f68 100%);*/
    padding-top: 70px;
}

.header-text h2 {
    /*margin-bottom: 0px;*/
    font-size: 65px;
}

.header-text .button {
    margin-top: 30px;
}

.color-fix{

    color: #fff;
}

.footer-margin-fix{

    background-color: #fff; 
    padding-bottom: 1px; 
    margin-top: 70px;
    margin-bottom: 30px;
}

/**
*Accordion
**/

#accordion .panel {
    background: none;
}

#accordion .panel .panel-title {
    padding: 30px 0 30px 60px;
    position: relative;
}

#accordion .panel .panel-collapse {
    padding-left: 60px;
}

#accordion .panel .panel-title a span:after,
#accordion .panel .panel-title a span:before,
#accordion .panel .panel-title a span {
    content: '';
    position: absolute;
    left: 0;
    top: 20px;
    width: 36px;
    height: 36px;
    background: #534b71;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}


#accordion .panel .panel-title a span:before,
#accordion .panel .panel-title a span:after {
    width: 10px;
    height: 1px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%)
}

#accordion .panel .panel-title a span:before {
    -webkit-transform: translate(-50%) rotate(90deg);
    transform: translate(-50%) rotate(90deg)
}

#accordion .panel .panel-title a[aria-expanded="true"] span:before {
    -webkit-transform: translate(-50%) rotate(0deg);
    transform: translate(-50%) rotate(0deg)
}

.teste{

    align-items: center;
}

.container-fix{

    width: 800px;
}

/**
*Default Button
**/

.button {
    display: inline-block;
    padding: 8px 30px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #52428d;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: none;
    -webkit-box-shadow: 2px 5px 20px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 5px 20px -5px rgba(0, 0, 0, 0.1);
}

.button.white,
.button:hover {
    background-color: #a630ba;
    color: #ffffff;
}

.button.white:hover {
    background-color: #a630ba;
    color: #ffffff;
}

.button i {
    margin-left: 5px;
}

#btn-enviar-pedido{

    padding: 20px 50px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: #454445;

}

#btn-enviar-pedido:hover{

    background-color: #604360;
    color: #ffffff;
}

#btn-remover{

    background-color: #b91010cc;
    color: #ffffff;
}

#btn-remover:hover{

    background-color: #b91010b3;
    color: #ffffff;
}

.line{

    background-color: #534b71;
    padding-bottom: 1px;
}

.banner-text h3{

     /*margin-bottom: 0px;*/
    font-size: 20px;
}

.page-title h2 {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;

}